apiVersion: basis.dev/v1alpha1
kind: BasisController
metadata:
  name: "{{ inventory_hostname }}"
spec:
  listen: "0.0.0.0:{{ basis_controller_port }}"
  metricsListen: "0.0.0.0:{{ basis_controller_metrics_port }}"
  dataDir: {{ basis_data_dir }}
  tls:
    cert: {{ basis_tls_dir }}/controller.crt
    key: {{ basis_tls_dir }}/controller.key
    ca: {{ basis_tls_dir }}/ca.crt
  network:
    treeSupernet: {{ basis_network.tree_supernet }}
    pools:
{% for pool in basis_network.pools %}
      - name: {{ pool.name }}
        cidr: {{ pool.cidr }}
        gateway: {{ pool.gateway }}
        rangeStart: {{ pool.range_start }}
        rangeEnd: {{ pool.range_end }}
{% endfor %}
{% if basis_dns_servers is defined %}
  dnsServers:
{% for dns in basis_dns_servers %}
    - {{ dns }}
{% endfor %}
{% endif %}
  cpuOvercommitRatio: {{ basis_cpu_overcommit_ratio }}
  bgp:
    asn: {{ basis_bgp_asn }}
    routerId: {{ basis_bgp_router_id }}
    holodEndpoint: "http://{{ holo_grpc_host }}:{{ holo_grpc_port }}"
