apiVersion: basis.dev/v1alpha1
kind: BasisController
metadata:
  name: {{ inventory_hostname }}
spec:
  listen: "0.0.0.0:{{ basis_controller_port }}"
  dataDir: {{ basis_data_dir }}
  tls:
    cert: {{ basis_tls_dir }}/controller.crt
    key: {{ basis_tls_dir }}/controller.key
    ca: {{ basis_tls_dir }}/ca.crt
  ipPools:
    - name: {{ basis_ip_pool.name }}
      cidr: {{ basis_ip_pool.cidr }}
      gateway: {{ basis_ip_pool.gateway }}
      rangeStart: {{ basis_ip_pool.range_start }}
      rangeEnd: {{ basis_ip_pool.range_end }}
