apiVersion: basis.dev/v1alpha1
kind: BasisController
metadata:
  name: "{{ inventory_hostname }}"
spec:
  listen: "0.0.0.0:{{ basis_controller_port }}"
  metricsListen: "0.0.0.0:{{ basis_controller_metrics_port }}"
  dataDir: {{ basis_data_dir }}
  tls:
    cert: {{ basis_tls_dir }}/controller.crt
    key: {{ basis_tls_dir }}/controller.key
    ca: {{ basis_tls_dir }}/ca.crt
  network:
    clusterSupernet: {{ basis_network.cluster_supernet }}
{% if basis_network.cluster_prefix is defined %}
    clusterPrefix: {{ basis_network.cluster_prefix }}
{% endif %}
{% if basis_network.bridge_reserve is defined %}
    bridgeReserve: {{ basis_network.bridge_reserve }}
{% endif %}
{% if basis_network.default_external_service_ips is defined %}
    defaultExternalServiceIps: {{ basis_network.default_external_service_ips }}
{% endif %}
    pools:
{% for pool in basis_network.pools %}
      - name: {{ pool.name }}
        cidr: {{ pool.cidr }}
{% if pool.scope is defined %}
        scope: {{ pool.scope }}
{% endif %}
{% endfor %}
{% if basis_dns_servers is defined %}
  dnsServers:
{% for dns in basis_dns_servers %}
    - {{ dns }}
{% endfor %}
{% endif %}
  cpuOvercommitRatio: {{ basis_cpu_overcommit_ratio }}
  bgp:
    asn: {{ basis_bgp_asn }}
    routerId: {{ basis_bgp_router_id }}
    holodEndpoint: "http://{{ holo_grpc_host }}:{{ holo_grpc_port }}"
  safety:
    autoReconcileOrphanInventory: {{ basis_auto_reconcile_orphan_inventory | default(false) | bool | string | lower }}
